@charset "ISO-8859-1";

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 3px;
  }
  
.btn {
	position: relative;
	left: 88%;
	bottom: 40px;
}

.delete {
	border-radius: 3px;
	border-width: 0px;
	width: 46%;
	font-size: 13px;
}

.button-delete{
	border-style: none;
	background-color: transparent;
}

.bi-toggle2-off{
	border-style: none;
	background-color: transparent;
	color: red;
}
.bi-toggle2-on{
	border-style: none;
	background-color: transparent;
	color: green;
}

.Blocked{

	color: red;
}
.Active{

	color: green;
}


.button-icon{
	border-style: none;
	background-color: transparent;
}

.button-see {
	border-style: none;
	background-color: transparent;
	color: #0d6efd;
}


.p-3 {
    padding: 1rem!important;
    border-radius: 10px;
    font-size: 13px; 
}

.input-group.has-validation > .dropdown-toggle:nth-last-child(n+4), .input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-control, .input-group.has-validation > .form-floating:nth-last-child(n+3) > .form-select, .input-group.has-validation > :nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 5px;
}

td {
  max-width: 200px; /* Limite la largeur de la cellule */
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Masque le texte qui dépasse */
  text-overflow: ellipsis; /* Ajoute les points de suspension */
}


  
  .even-row {
  background-color: #f6f9ff; /* Couleur de fond pour les lignes paires */
}

.odd-row {
  background-color: #ffffff; /* Couleur de fond pour les lignes impaires */
}

.table {
  --bs-table-bg: unset;
  	position: relative;
 	bottom: 25px;
  }
  
 .pagination{
	justify-content: end;
	position: relative;
    bottom: 15px;
}
  
.nav-no-border .page-link {
  border: none !important; /* Supprime les bordures */
}


.page-item.active {
  background-color: #0d6efd;
}


/*<---------- Are you sure you want to delete user moal ------------>*/


.modal-body button{
	background: transparent;
	border-style: none;
	
}

.delete-denied{
	color: #0d6efd;
	font-size: 12px;
	position: relative;
	left: 33%;
}

.accept-delete{
	color: red;
	font-size: 12px;
	position: relative;
	left: 35%;
}

.modal-body p{
	font-size: 14px;
    margin-bottom: 27px;
 	color: black;
}

/*<---------- Success modal ------------>*/

.modal-body img{
	width:20px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.modal-body p{
	font-size: 15px;
    margin-bottom: 27px;
 	color:black;
}

.modal-body{
	width:100%;
 	padding:20px;
	text-align:center;
}

.btn-close{
	position: relative;
    left: 94%;
    bottom: -7px;
    font-size: 13px;
}

.disabled-button {
  color: red; 
}

a {
  text-decoration: none;
}
  