@charset "ISO-8859-1";

.card-title {
  text-align: center;
}

.card {
	position: relative;
	left: 55%;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  position: relative;
}